  * {
    margin: 0;
    padding: 0;
  font-family: "Open Sans", sans-serif;
  }

  body {
    background: #f7f4ef;
  }

  .container {
    margin: 60px auto;
  }

  .logo-wrapper {
    text-align: center;
    margin-bottom: 40px;
  }

  .card {
    width: 640px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;    /*corner*/
    text-align: center;
  }


  .card h2 {
    font-size: 32px;
    color: #3b3b3b;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 16px;
    color: #5f6a94;
    margin-bottom: 37px;
  }

  .food {
    margin-bottom: 15px;
  }



  .btn {
    padding: 10px 35px;
    background: #f88413;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 37px;
  }