* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 535px;
  margin: 40px auto;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}


.square {
  padding: 22px 28px 28px 28px; /*top, right, bottom, left*/
  border-radius: 12px;
  margin: 0 auto 35px;
}

.square h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blue h1 {
  font-size: 36px;
}

.square p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.orange p {
  color: #2b2b2b;
}

.blue {
  background: #b3c5f6;
  color: #2f4c9b;
}

.blue p {
  color: #5f6a94;
}

.orange {
  background: #f4c9a0;
  color: #7b4b15;
}

.green {
  background: #a7f48c;
  color: #2c6b2d;
}

.purple {
  background: #f4c5fd;
  color: #5a2c63;
}
